.footer {
    height: 5%;
    position: fixed;
    bottom: 0;
    justify-content: center;
    background-color: rgba(57, 187, 187, 0.83);
}

p {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 1rem;
    border-radius: 1px solid rgb(240, 240, 240);
    padding: 0 8%;
    border-radius: 20px;
}