mat-toolbar{
    background-color: rgba(57, 187, 187, 0.83);
}

i{
    padding-right: 0.6rem;
    color: rgba(4, 100, 100, 0.83);
}

.header{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;  
}

h1{
   font-size: 32px;
   color: rgb(255, 255, 255);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}